@import "./_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#797979;
}
.bt_orange {
    background-color: $Orangebtn ;
    color: white;
    font-size: smaller;
        &:hover{
            background-color: $BluBtnHover;
            border: none;
            color: white;
            font-size: smaller;
        }
}
.bt_red{
    background-color: $Redbtn;
    color: $Orangebtn;
    font-size: smaller;
        &:hover{
            background-color: $Orangebtn;
            border: none;
            color: white;
            font-size: smaller;
        }

}
