@import "./_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#797979;
}
.bt_orange {
    background-color: $Orangebtn ;
    color: white;
    font-size: smaller;
        &:hover{
            background-color: $BluBtnHover;
            border: none;
            color: white;
            font-size: smaller;
        }
}
.bt_red{
    background-color: $Redbtn;
    color: $Orangebtn;
    font-size: small;
    font-weight: bold;
    padding: 0.4rem 1.5rem;
        &:hover{
            background-color: $Orangebtn;
            border: none;
            color: white;
            font-size: smaller;
        }

}
.ms_padding{
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}
.ms_padding_title{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.ms_color-text{
    color:$Orangebtn;
    font-weight: bold;
}