// colori

$White:#FFFFFF;
$BayofMany:#224184;
$Silver:#BCBCBC;
$CodGray:#1B1B1B;
$TulipTree:#EFAB43;
$Boulder:#797979;
$Cerulean:#029FCC;
$Thunderbird:#D71F18;
$Malibu:#69A0FD;
$Walnut:#784619;
$PicledBluewood:#374A5E;
$HintofRed:#F4F0EF;
$Tussock:#CC9F4C;
$TowerGray:#A3B8BE;
$Matrix:#A65D50;
$TussockVibrant:#C2944F;
$DustGray:#9A9898;
$BayVibrant:#22437D;
$SmaltBlue:#4F7F85;
$IceCold:#B1E4F4;
$Orangebtn: #ef6f31;
$BluBtnHover: #6ac5f1;
$Redbtn: #fdf0ea;


